[user]
	email = raphcatarino@gmail.com
	name = Raphaël C.
	signingKey = 
[core]
  excludesFile = ~/.mygitignore
	ignorecase = false
[init]
  defaultBranch = main
[pull]
  rebase = false
[gpg]
	program = gpg
	format = openpgp
[commit]
	gpgSign = false
[tag]
	forceSignAnnotated = false
[gpg "ssh"]
	program = ssh-keygen
	allowedSignersFile = 
[credential]
  helper = store
